:root {
  /* ## Colors */

  /* ### Primary */

  --Softred: hsl(10, 79%, 65%);
  --Cyan: hsl(186, 34%, 60%);

  /* ### Neutral */

  --Darkbrown: hsl(25, 47%, 15%);
  --Mediumbrown: hsl(28, 10%, 53%);
  --Cream: hsl(27, 66%, 92%);
  --Verypaleorange: hsl(33, 100%, 98%);
}

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  font-size: 18px;
  background-color: hsl(0, 1%, 79%);

}
footer {
  margin-top: 2rem;
}
img {
  width: 4rem;
  margin-left: 9.2rem;
}

hr {
  margin-top: 1.5rem;
  border: 1px solid rgb(228, 227, 227);
}

.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}

.attribution {
  font-size: 16px;
  text-align: center;
}
.attribution a {
  color: rgb(3, 115, 195);
}
#card-itself {
  box-shadow: 10px 5px 5px  rgba(165, 165, 165,0.5);
  border-radius: 1rem;
  margin: 7rem auto 3rem auto;
  padding: 4rem 1rem;
  width: 23.5rem;
  height: 45.3rem;
  background-color: var(--Cream);
  position: relative;
}
#my-balance {
  background-color: var(--Softred);
  padding: 1.1rem 1.2rem;
  border-radius: 0.6rem;
  height: 6.2rem;
  margin-bottom: 1rem;

  color: white;
}
#my-balance span {
  font-size: 0.95rem;
}
#my-balance p {
  margin-top: 0.2rem;
  font-size: 1.5rem;
  font-weight: 700;
}
#hold-mainfooter {
  background-color: white;
  padding: 1rem;
  height: 30rem;
  border-radius: 0.6rem;
}
#hold-mainfooter p {
  margin-top: 0.6rem;
  font-size: 1.5rem;
  font-weight: 700;
}
#myChart {
  width: 500px;
  height: 500px;
  margin-top: 4.5rem;
}
#hold-footer1 {
  
  margin-top: -0.8rem;
}
#hold-footer1 span {
  font-size: 1rem;
  color:  var(--Mediumbrown);
}
#hold-footer1 p {
  color: var(--Darkbrown);
  font-size: 1.8rem;
  margin-top: 0.2rem;
}
#hold-footer2 {
  margin-top: 2.5rem;
}
#hold-footer2 span {
  font-size: 0.9rem;
  margin-top: -0.8rem;
  color:  var(--Mediumbrown);
  margin-left: 2rem;


}
#hold-footer2 p{
  margin-top: -0.8rem;
  font-size: 1rem;
  margin-left: 6rem;
}
#hold-footer3 {
  bottom: 5rem;
  position: absolute;
}
#hold-footer3 p{
   font-weight: 400;
  color:  var(--Mediumbrown);
  margin-top: -0.8rem;
  font-size: 1rem;
  margin-bottom: 0.2rem;
  
}
#hold-footer3 span {
  font-size: 1.8rem;
  margin-top: -0.8rem;
  font-weight: 700;
}

/* //////// QUERY DESKTOP */

@media screen and (min-width: 1440px) {

  body {
    background-color: var(--Cream);
    margin-bottom: 0;
  }
  #card-itself {
    margin: 7rem auto 0rem auto;
    padding: 4rem 1rem;
    width: 32rem;
    height: 50.3rem;
    background-color: var(--Cream);
    position: relative;
    box-shadow: 0px 0px 0px;
  }
  #myChart {
    width: 10px;
    height: 10px;
    margin-top: 2rem;
  }
  #my-balance span, p {
    margin-left: 0.5rem;
  }

  #hold-mainfooter {
    background-color: white;
    padding: 1rem;
    height: 29rem;
    border-radius: 0.6rem;
  } 
   #hold-mainfooter p {
   font-size: 1.8rem;
   margin-left: 1.6rem;
  }
  p#monthTotal{
    margin-left: 0;
  }
  #hold-footer3 {
    bottom: 12.3rem;
    left: 12rem;
    position: absolute;
  }
  #hold-footer3 p {
   font-size: 1rem;
   margin-left: 0rem;
  }

  #hold-footer2 {
    margin-top: 0.5rem;
  }
  #hold-footer2 p{
   font-size: 1rem;
   margin-left: 6.5rem;
  }
  img {
    width: 4rem;
    margin-left: 17.4rem;
  }
}
